<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <gazebo reference="bottom_base_link">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="top_base_link">
        <material>Gazebo/Green</material>
    </gazebo>
    
    <gazebo reference="arm_segment_1_link">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="arm_segment_2_link">
        <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="arm_segment_3_link">
        <material>Gazebo/Green</material>
    </gazebo>

</robot>